body  {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.part1 {
  background-color: #1f2937;
  color: #e5e7eb;
}

.hero {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
}

button {
  background-color: #3882f6;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}